.pag-button,
.pag-button-active {
  margin-right: 8px;
  border: 1px solid #ced5de;
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1f2939;
  background: #ffffff;
  transition: 0.2s ease;
  cursor: pointer;
}

.pag-button:hover,
.pag-button-active:hover {
  opacity: 0.7;
}

.pag-button-active {
  background: #f2f5f8;
}

.counters-table tfoot > td > button:last-child {
  margin-right: 0;
}

.pag-button-dots {
  padding: 8px 10px;
}

.pag-button-dots:hover {
  opacity: 1;
  cursor: inherit;
}
